@media (max-width: 1025px) {

    .header_nav {
        display: none;
    }

    .header_nav1 {
        position: fixed;
        top: 99px;
        background-color: #C46A2B;
        left: -100%;
        width: 200px;
        height: 144px;
        padding: 16px 56px 16px 16px;
    }

    .Header_ul {
        flex-direction: column;
        row-gap: 8px;
    }

    .burger {
        display: block;
    }

    .First_header {
        padding: 16px 45px;
    }

    .article_section {
        overflow-x: scroll;
    }

    .article_card {
        flex: 1 0 298px;
    }

    .First_footer {
        padding: 48px 98px;
    }
    .show{
        left: 0;
    }
}